$primary: purple;
$secondary: yellow;
$success: green; 
$info: lightblue;
$warning: orange;
$danger: red;

@import "../../node_modules/bootstrap/scss/bootstrap";

$badass: #bada55;
body { 
  margin: 0; 
  background-color: $badass; 
}
