$primary: #353839;
$secondary: yellow;
$success: green; 
$info: lightblue;
$warning: orange;
$danger: red;
$light: #d3d3d3;

@import "../../node_modules/bootstrap/scss/bootstrap";

$badass: #bada55;
body { 
  margin: 0; 
  background-color: $primary; 
  background-image: url("/images/books/books2.jpg");
  // background-repeat: round;
  background-repeat: no-repeat;
  background-size: auto;
  background-size: cover;
}
