<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Coding Task</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<div class="container mt-5 mb-5 p-5" style='background-color: white; opacity: 0.9'>
		<h1>Listing of all books</h1>
		<p>Mustache templating language + mustache express</p>
		<div class="text-primary">
			<div class="row">
				<div class="col-md-3"><p><h3>_id</b></h3></div>
				<div class="col-md-3"><p><h3>Title</b></h3></div>
				<div class="col-md-3"><p><h3>Author</b></h3></div>
				<div class="col-md-3"><p><h3>Year</b></h3></div>
			</div>
			<div class="row">
				{{#books}}
				<div class="col-md-3"><p><a href="http://localhost:8001/view/{{_id}}">{{_id}}</a></p></div>
				<div class="col-md-3"><p><a href="http://localhost:8001/view/{{_id}}">{{title}}</a></p></div>
				<div class="col-md-3"><p><a href="http://localhost:8001/view/{{_id}}">{{author}}</a></p></div>
				<div class="col-md-3"><p><a href="http://localhost:8001/view/{{_id}}">{{year}}</a></p></div>
				{{/books}}
			</div>
			<a href="http://google.com" target="_blank" class="btn btn-primary">Mustache Manual</a>
			<a href="http://google.com" target="_blank" class="btn btn-primary">Mustache-Express</a>

		</div>
	</div>
	
</body>
</html>

