<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Login</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<div class="container mt-5 mb-5 p-5" style='background-color: white; opacity: 0.9'>
		<h1>User Details</h1>
		<div class="text-primary">
		Display user info here after successful login
		{{user}}
		</div>
		<div class="mt-5">
		  	<a href="http://localhost:8001/users/logout" class="btn btn-light">Logout</a>
		</div>
	</div>
	
</body>
</html>
