<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Login</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<div class="container mt-5 mb-5 p-5" style='background-color: white; opacity: 0.9'>
		<h1>User Details</h1>
		<!-- {{#flash}}
		<div class="alert alert-{{flash.type}} alert-dismissible fade show" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		  {{flash}}
		</div>
		{{/flash}} -->
		{{{> flash}}}


		<div class="text-primary mt-3">
			<p><b>Id:</b> {{user.id}}</p>
			<p><b>Name:</b> {{user.name}}</p>
			<p><b>Email:</b> {{user.email}}</p>
			<p><b>Role:</b> {{user.role}}</p>
			<p><b>Is Admin?: </b> {{isAdmin}}</p>
		</div>
	

		<div class="mt-5">
		{{#isAdmin}}
		  	<a href="http://localhost:8001/users/admin" class="btn btn-info mr-2">Access Admin Area</a>
		{{/isAdmin}}
		  	<a href="http://localhost:8001/users/logout" class="btn btn-light">Logout</a>
		</div>
	</div>
	
</body>
</html>
